.color-bg {
    background-color: rgb(217, 222, 227);
}

.scroll-bg {
    width: 100%;
    padding: 1px;
    /* position: sticky; */
}

.scroll-div {
    width: 100%;
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
}